body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-image: url('/body-img.jpg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  text-align: center;
}

img {
  position: relative;
  top: 8px;
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 20px;
}

#root > div {
  display: inline-block;
  min-width: max-content;
  margin-top: 4%;
  padding: 13px;
  background: rgba(250, 250, 250, 0.1);
  box-shadow: 0px 0px 10px;
  border-radius: 30px;
}

button:hover,
input:hover,
input + label:hover {
  transition: .2s ease-in;
}

.game-field {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

.field-row,
.game-field {
  min-width: max-content;
}

.field-row::after{
  content: "";
  display: block;
  clear: both;
}

.field-cell {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  float: left;
}

.field-cell span {
  font-weight: bold;
}

.field-cell-opened {
  background-color: rgb(207, 208, 209);
  cursor: default;
}

.field-cell-opened-mined {
  background-color: red;
  transition: .8s;
}

.field-cell-closed {
  background: linear-gradient( to top right, rgb(207, 193, 135), rgb(211, 153, 60));
  cursor: pointer;
}

.field-cell-closed:hover {
  background: rgb(90, 90, 194);
  transition: .3s;
}

.grid-1-3 {
  display: inline-block;
  width: 33%;
}

.grid-1-2 {
  display: inline-block;
  width: 50%;
}

.grid-1-2 i.fa {
  color: #5e4a3f;
}

.fa-flag {
  color: red;
}

.fa-question {
  color: blue;
}

.fa-question:hover,
.fa-flag:hover {
  color: white;
}

.game-button {
  display: inline-block;
  width: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: inherit;
  padding: 3px 0;
  cursor: pointer;
}

.game-button:focus {
  outline: none;
}

header .game-button:hover {
  background-color: rgba(90, 90, 194, .3);
  border-radius: 5px;
}

.game-button:active {
  border: 1px solid rgb(90, 90, 194);
}

footer span {
  font-weight: bold;
  color: #5e4a3f;
  padding-left: 5px;
}

.mines-qty-1 {
  color: green;
}

.mines-qty-2 {
  color: darkmagenta;
}

.mines-qty-3 {
  color: crimson;
}

.mines-qty-4 {
  color: blue;
}

.mines-qty-5 {
  color: peru;
}

.mines-qty-6 {
  color: red;
}

.mines-qty-7 {
  color: brown;
}

.mines-qty-8 {
  color: black;
}