.config-modal {
  text-align: left;
}

/* todo */
.ReactModal__Content {
  /* width: 450px; */
  /* height: 300px; */
}

.config-modal footer {
  margin-top: 25px;
}

.level-difficulty span,
.game-rules span {
  font-weight: bold;
}

.level-difficulty,
.game-rules {
  padding-top: 10px;
}

.config-modal button {
  background-color: inherit;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #2ecc71;
  border-radius: 20px;
  padding: 10px;
  font-weight: 600;
}

.config-modal button:hover {
  background-color: rgba(172, 164, 164, .5);
}

.config-modal button:active {
  border-color: green;
}

.config-modal .save-button {
  background-color: #2ecc71;
}