.config-modal {
  text-align: left;
}

.ReactModal__Content {
  width: 420px;
  display: inline-block;
}

.config-modal footer {
  margin-top: 25px;
}

.level-difficulty span,
.game-rules span {
  font-weight: bold;
}

.level-difficulty,
.game-rules {
  padding-top: 10px;
}

.config-modal button {
  background-color: inherit;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer;
  margin: 5px;
  border: 1px solid rgba(71, 71, 245, 0.466);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}

.config-modal button:hover {
  background-color: rgba(172, 164, 164, .5);
}

.config-modal button:active {
  border-color: blue;
}

.config-modal .save-button {
  background-color: rgba(71, 71, 245, 0.466);
}